@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
   margin: 0;
   padding: 0;
   font-family: "Poppins", sans-serif;
   font-weight: 300;
   font-style: normal;
}
.product{
   display: flex;
   justify-content: space-between;
   .article1{
      padding: 20px;
      img{
         width: 700px;
         border: 2px solid rgb(91, 90, 90);
      }
   }
   .article2{
      margin-top: 20px;
      padding: 20px;
      width: 600px;
      .div1{
         font-size: 40px;
         font-weight: 900;
      }
      .div2{
         font-size: 25px;
         font-weight: 700;
         color: red;
         margin-top: 10px;
      }
      .stars{
         margin-top: 10px;
      }
      .check{
         margin-top: 10px;
         font-size: 17px;
         font-weight: 400;
      }
      .title{
         margin-top: 20px;
      }
      .a{
         margin-top: 35px;
         display: flex;
         a{
            padding: 10px 40px 10px 40px;
            margin: 20px;
            font-size: 18px;
            font-weight: 600;
            text-transform: uppercase;
            width: 200px;
            background-color: black;
            color: white;
            text-decoration: none;
            border-radius: 5px;
         }
         a:hover{
            background-color: red;
         }
      }
      .social{
         margin-top: 30px;
         display: flex;
         div{
            padding: 10px;
            font-size: 20px;
         }
         a{
            color: rgb(94, 91, 91);
            padding: 10px;
            font-size: 15px;
            border: 1px solid rgb(195, 190, 190);
            border-radius: 50%;
         }
         a:hover{
            color: red;
         }
      }

   }
}

@media (max-width:768px){
   .product{
      display: block;
   }
}
@media(max-width:431px){
   .product{
      display: block;
   }
   .article1 div img{
      width: 400px;
   }
}