@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,body{
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: #f2f2f2;
//   background: linear-gradient(-135deg,#ffd968, #ff3030);
}
::selection{
  background: #fa0202;
  color: #fff;
}

.wrapper{
    height: auto;
    width: 380px;
    background: #f9f9f9;
    border-radius: 15px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.3);

    .title{
        font-size: 35px;
        font-weight: 600;
        text-align: center;
        line-height: 100px;
        color: #fff;
        user-select: none;
        border-radius: 15px 15px 0 0;
        background: linear-gradient(-105deg, #f42f10, #f7de26);
    }

    form{
        padding: 10px 30px 50px 30px;

        .field{
            height: 50px;
            width: 100%;
            margin-top: 20px;
            position: relative;

            input{
                height: 100%;
                width: 100%;
                outline: none;
                font-size: 17px;
                padding-left: 20px;
                border: 1px solid lightgrey;
                border-radius: 25px;
                transition: all 0.3s ease;
            }

            input:focus{
                border-color: #ed6003;
            }

            label{
                position: absolute;
                top: 50%;
                left: 20px;
                color: #999999;
                font-weight: 400;
                font-size: 17px;
                pointer-events: none;
                transform: translateY(-50%);
                transition: all 0.3s ease;
            }

            input:focus ~ label,
            input:valid ~ label{
                top: 0%;
                font-size: 16px;
                color: #ed6003;
                background: #fff;
                transform: translateY(-50%);
            }

            input[type="submit"]{
                color: #fff;
                border: none;
                padding-left: 0;
                margin-top: -10px;
                font-size: 20px;
                font-weight: 500;
                cursor: pointer;
                background: linear-gradient(-135deg,  #f42f10, #f7de26);
                transition: all 0.3s ease;
            }

            input[type="submit"]:active{
                transform: scale(0.95);
            }
        }

        .content{
            display: flex;
            width: 100%;
            height: 50px;
            font-size: 16px;
            align-items: center;
            justify-content: space-around;

            .checkbox{
                display: flex;
                align-items: center;
                justify-content: center;
                accent-color: #ff8b3d;
            }

            input{
                width: 15px;
                height: 15px;
                background: red;
            }

            label{
                color: #262626;
                user-select: none;
                padding-left: 5px;
            }

            .pass-link{
                color: "";
            }
        }

        .signup-link{
            color: #262626;
            margin-top: 20px;
            text-align: center;
        }

        .pass-link a,
        .signup-link a{
            color: #ed6003;
            text-decoration: none;
        }
        
        .pass-link a:hover,
        .signup-link a:hover{
            text-decoration: underline;
        }
    }
}

// media query for login//
@media (max-width: 768px) {
    .wrapper{
        display: none;
        // width: 300px;
    }
}