{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Singup Relic</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='{% static "Main_ecom1/singup.css"%}'>
    <script src='singup.js'></script>
</head>

<body>
    <div class="container">
        <div class="title">Sing Up Form</div>
        <form>
            <div class="name">
                <div class="field field1">
                    <input id="f_name" type="text" required>
                    <label>First Name</label>
                </div>
                <div class="field field1">
                    <input type="text" id="l_name" required>
                    <label>Last Name</label>
                </div>
            </div>
            <div class="name">
                <div class="field field2">
                    <input type="text" id="email" required>
                    <label>Email</label>
                </div>
                <div class="field">
                    <input type="text" id="p_number" required>
                    <label>Phone no.</label>
                </div>
            </div>
            <div class="button">
                <button>Sing Up</button>
            </div>
            <div class="link">
                Already have an acco? <a href="./login">Login</a>
            </div>
        </form>
        <div class="name">
            <hr>
            <h4>Or</h4>
            <hr>
        </div>
        <div>Singup by Google</div>
        <div>Singup by facebook</div>
        <div>Singup by yahoo</div>
    </div>
</body>

</html>